.course-card{
    width: 300px;
    text-align: center;
    border:1px solid #1976d2;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .course-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .course-description{
    padding: 5px;
  }

  .course-AddCart{
    margin: 5px;
  }